<div class="container">
  <div class="mt-5 col">
    <div >
      <input type="button" class="btn btn-warning greeting-button" value="Good Morning" 
      data-toggle="modal" data-target="#exampleModal">
    </div>
    <div >
      <input type="button" class="btn btn-success  mt-2 greeting-button" value="Good Afternoon" 
      data-toggle="modal" data-target="#exampleModal">
    </div>
    <div >
      <input type="button" class="btn btn-primary  mt-2 greeting-button" value="Good Night" 
      data-toggle="modal" data-target="#exampleModal">
    </div>
    <div>
      <input type="button" class="btn btn-danger  mt-2 greeting-button" value="Don’t Click Me"
      data-toggle="modal" data-target="#exampleModal">
    </div>
  </div>
  <div class="col display-frame">
    <H1 class="text-center handout-text">Click some button. <br> and modal will popup </H1>
  </div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <H1 class="text-center display-text">Default Display<br> Click some button.</H1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>